@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,800;1,800&family=Rubik+Mono+One&display=swap');
body {
    font-family: "Karla";
	background-color: black;
}
* {
	padding: 0px;
	margin: 0px;
	border: none;
	
}

.start {
  animation: 3s show ease;
  font-family: "Karla", sans-serif;
  text-align: center;
  padding: 0;
  font-weight: 800;
  font-size: 60px;
  color: white;
}
.two {
animation: 2s show ease;
animation-fill-mode: forwards;
opacity: 0;
animation-delay: 1s;
font-family: "Karla", sans-serif;
text-align: center;
padding-top: 60px;
padding-left: 40px;
color: white;
font-weight: 800;
}
.links1 {
animation: 3s show ease;
animation-fill-mode: forwards;
opacity: 0;
animation-delay: 1s;
font-family: "Karla";
max-width: fit-content;
font-size: 25px;
overflow-wrap: break-word;
margin-left: 100px; 
margin-top: 60px;
display: flex; 
}	


@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

a {
	position: relative;
	color: white;
	font-size: 1.25rem;
	text-decoration: none;
}

a::before {
	content: '';
	position: absolute;
	left: 0; bottom: -5px;
	width: 0;
	height: 1.5px;
	background-color: rgb(255, 255, 255)
}

a:hover:before {
	width: 100%;
}

a::before {
	transition: width 0.35s;
}